@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new client</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.ClientName)
    @Html.TextBoxFor(model => model.ClientName)
    @Html.LabelFor(model => model.ClientDescription)
    @Html.TextBoxFor(model => model.ClientDescription)
    <input type="submit" value="Add new client" />
}
<p>@Html.ActionLink("Show all clients", "Index")</p>

<!-- @{
  Layout = "_Layout";
}

<h1>Add a new Client for @Model.StylistName</h1>

<form action="/stylists/@Model.Id/clients" method="post">
  <input id="stylistId" name="stylistId" type="hidden" value="@Model.Id">
  <label for="clientName">Client Name</label>
  <input id="clientName" name="clientName" type="text">
  <label for="clientDescription">Client Details</label>
  <input id="clientDescription" name="clientDescription" type="text">
  <button type='submit'>Add Client</button>
</form> -->